#background{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#next-hall{
    display: flex;
    flex-direction: row;
}
#userInfoForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.field-container{
    display: flex;
    flex-direction: column;
}
.field{
    height: 30px;
    width: 300px;
}
#submit-button{
    width: 80px;
    height: 30px;
}