#background{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#container{
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#restart{
    width: 100px;
}
#board{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    gap: 10px;
}
.card{
    background-color:chocolate;
}