#background{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    align-items: center;
}
#options{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.option{
    margin: 7px 0;
}
#next-done-button{
    width: 80px;
    height: 30px;
}