extends layout

block content

    form(action='/note/create',method='post')
        div(class='create-main-box')
            p Title
            div(class='')
                input(type='text' name='title' style='width:27vw')
            p Note
            div(class='')
                textarea(name="text", cols="30", rows="10" style='width:27vw') 
            div(class='')
                input(type='submit' value='Create Note' style='margin-top:20px') 

