extends layout

block content

    h1= message
    div(class='round-box')
        a(href='/user/register') Register User
    div(class='round-box')
        a(href='/user/login') Login User
    div(class='round-box')
        a(href='/user/logout') Logout User
