#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#TicTac{
    display: Grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    gap: 5px;
}
.element{
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}
#restart-button{
    width: 70px;
    height: 30px;
    margin: 15px;
    background-color: #a7cae3;
    border-radius: 10px;
}